{% extends 'layouts/layout-1.html' %}

{% block content %}
<div class="nk-gap-4"></div>
<div class="container">
    <h2 class="display-3">Download do Cliente Interlude</h2>
    <p>Para conseguir jogar o Lineage Brasil Club, caso voc&ecirc; n&atilde;o possua, voc&ecirc; precisar&aacute;
        baixar e instalar o cliente do
        Lineage na vers&atilde;o interlude. O processo de instalaç&atilde;o &eacute; simples e intuit&iacute;vo. Siga o
        passo a passo e voc&ecirc;
        conseguir&aacute; instalar tranquilamente.</p>
    <p>Tendo feito esse caminho, voc&ecirc; perceber&aacute; que existe uma pasta chamada system. Basta excluir essa
        pasta e
        adicionar ao lugar dela a pasta system que ser&aacute; baixada no link a seguir:</p>


    <h3>Links Para Baixar o Cliente</h3>
    <ul>
        <li>
            <strong>Opção 1</strong>:
            <a href="https://gameborder.net/file/lineage-ii-interlude-client" target="_blank">https://gameborder.net/file/lineage-ii-interlude-client</a>
        </li>
        <li>
            <strong>Opção 2</strong>:
            <a href="http://www.mediafire.com/file/bw5878q8lpciv1g/CLINET_Lineage_2_Interlude.rar" target="_blank">https://gamesnowcliente.com/line-2-interlude</a>
        </li>
    </ul>

    <p>Após baixar e instalar o cliente, você precisará substituir a pasta system pela system disponibilizada pelo
        Lineage Brasil Club.<br /><a href="//linagebrasil.club/download-system.html">Clique aqui</a> para baixar e
        instalar a System do Lineage Brasil Club e poder jogar.</p>

    <p>*Caso haja alguma d&uacute;vida, entre em contato com um de nossos embaixadores atrav&eacute;s do
        <a href="//lineagebrasil.club/forum/index.php" target="_blank">F&oacute;rum</a>.</p>
</div>

<div class="nk-gap-4"></div>
<div class="nk-gap-4"></div>
{% endblock %}