{% extends 'layouts/layout-1.html' %}

{% block content %}
<div class="nk-gap-4"></div>
<div class="container">
    <h2 class="display-3">Para Jogar o Servidor</h2>
    <p>Tendo j&aacute; instalado o cliente do Lineage II Interlude, basta fazer o download da System do Lineage Brasil
        Club e substituir por sua atual sistem no diret&oacute;rio raiz do Lineage 2 (geralmente em C:\Program Files
        (x86)\Lineage II). </p>
    <p>Tendo feito esse caminho, voc&ecirc; perceber&aacute; que existe uma pasta chamada system. Basta excluir essa
        pasta e
        adicionar ao lugar dela a pasta system que ser&aacute; baixada no link a seguir:</p>


    <h3>Links Para Baixar a System LBC</h3>
    <ul>
        <li><strong>MEGA</strong>: <a href="https://mega.nz/#!GvgW1CjC!KdM-BwaGDghTw4V5skP7MePaX-zK7bUH0I-ArV18QGM"
                target="_blank"> Mega (System LBC 1.1.rar)</a> </li>

        <li><strong>4Shared</strong>: <a href="https://www.4shared.com/rar/Q3X6qcLhda/System_LBC_11.html" target="_blank">
                4Shared (System LBC 1.1.rar)</a> </li>

    </ul>
    <p>*Caso haja alguma d&uacute;vida, entre em contato com um de nossos embaixadores atrav&eacute;s do <a href="//lineagebrasil.club/forum/index.php"
            target="_blank">F&oacute;rum</a>.</p>
</div>

<div class="nk-gap-4"></div>
<div class="nk-gap-4"></div>
{% endblock %}