{% set header_title = 'Confirma&ccedil;&atilde;o de Email' %}
{% set header_title_show = true %}
{% set header_image = 'assets/images/image-2-a.jpg' %}
{% set header_visible = 5 %}
{% set header_size = 'sm' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

<!-- START: CTA 5 -->
<div class="nk-box text-center text-white">
    <div class="nk-gap-5"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="nk-title">Seu email foi confirmado com sucesso!</h2>
                <h3 class="nk-sub-title text-main-1">Seja muito bem vindo ao Lineage Brasil Club!</h3>
                <div class="nk-gap"></div>
                <p>Gostariamos de lembrar a você, que cada jogador poder&agrave; ter at&eacute; <strong>TR&Ecirc;S</strong>
                    contas com um &uacute;nico email. N&atilde;o precisa se preocupar, pois voc&ecirc; poder&agrave;
                    gerenciar suas contas em nosso ACP. Batas clicar no bot&atilde;o abaixo e efetuar seu login.</p>
                <br>
                <a id="email-confirm-login" class="nk-btn nk-btn-x2 nk-btn-effect-2-right nk-btn-3d nk-btn-rounded nk-btn-color-main-1">
                    <span>acessar acp</span>
                    <span class="icon"><i class="ion-lock-combination"></i></span>
                </a>
            </div>
        </div>
    </div>
    <div class="nk-gap-5"></div>
    <div class="nk-gap-4"></div>
</div>
<!-- END: CTA 5 -->

{% endblock %}