{% set header_title = 'Minha Conta' %}
{% set header_title_show = false %}
{% set header_image = 'assets/images/lineage-bg-toi.jpg' %}
{% set header_visible = 5 %}
{% set header_size = 'sm' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
<div class="container">
    {% include "shared/social-profile-container.html" %}

    <div class="row vertical-gap">
        <div class="col-lg-3">

            <aside class="nk-sidebar nk-sidebar-left nk-sidebar-sticky">
                <div class="nk-gap-2"></div>
                {% include "shared/social-menu.html" %}
                <div class="nk-gap-4 d-none d-lg-block"></div>
            </aside>

        </div>
        <div class="col-lg-9">

            <div class="nk-social-container">
                <div class="row">
                    <a id="new-account-btn" class="nk-btn link-effect-4 float-right" data-toggle="modal" data-target="#new-account-modal">Criar
                        Conta</a>
                </div>
                <div class="nk-gap"></div>

                <div class="table-responsive nk-social-notifications">
                    <table id="user-game-accounts" class="table table-bordered">
                        <thead class="thead-default">
                            <tr>
                                <th>
                                    Login
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    &Uacute;ltimo Login
                                </th>
                                <th>
                                    Op&ccedil;&otilde;es
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    Carregando...
                                </td>
                            </tr>
                            <tr>
                                <td class="nk-social-notifications-login">
                                    arthr
                                </td>
                                <td class="nk-social-notifications-status text-warning">
                                    Inativa
                                </td>
                                <td class="nk-social-notifications-since">
                                    23/11/2018 23:37
                                </td>
                                <td class="nk-social-notifications-actions">
                                    <a class="change-pass">
                                        <span class="ion-lock-combination"></span> Alterar Senha
                                    </a>
                                    <a class="block-account">
                                        <span class="ion-locked"></span> Bloquear
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="nk-social-notifications-login">
                                    arthr
                                </td>
                                <td class="nk-social-notifications-status text-success">
                                    Ativa
                                </td>
                                <td class="nk-social-notifications-since">
                                    23/11/2018 23:37
                                </td>
                                <td class="nk-social-notifications-actions">
                                    <a class="change-pass">
                                        <span class="ion-lock-combination"></span> Alterar Senha
                                    </a>
                                    <a class="block-account">
                                        <span class="ion-locked"></span> Bloquear
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="nk-social-notifications-login">
                                    arthr
                                </td>
                                <td class="nk-social-notifications-status text-main-5">
                                    Banida
                                </td>
                                <td class="nk-social-notifications-since">
                                    23/11/2018 23:37
                                </td>
                                <td class="nk-social-notifications-actions">
                                    <a class="change-pass">
                                        <span class="ion-lock-combination"></span> Alterar Senha
                                    </a>
                                    <a class="block-account">
                                        <span class="ion-locked"></span> Bloquear
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="nk-gap-4"></div>
        </div>
    </div>
    <div class="nk-gap-4"></div>
    <div class="nk-gap-3"></div>
</div>
{% endblock %}

{% block after_content %}
<div id="new-account-modal" class="modal nk-modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="new-account-modal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title nk-title">Criar Conta</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>
            </div>
            <div class="modal-body">

                <div class="nk-box-3">

                    <!-- START: Account Form -->
                    <form action class="nk-form nk-form-ajax nk-form-style-1 new-account-form">

                        <input type="text" class="form-control required" id="new_login" minlength="4" maxlength="14"
                            name="login" placeholder="Login *">
                        <div class="nk-gap"></div>
                        <input type="password" class="form-control required" id="new_password" minlength="4" maxlength="14"
                            name="password" placeholder="Senha *">
                        <div class="nk-gap"></div>
                        <input type="password" class="form-control required" id="new_password_confirm" minlength="4"
                            maxlength="14" name="password_confirm" placeholder="Confirmar Senha *">
                        <div class="mt-10">
                            <em>A senha deve conter uma letra e um n&uacute;mero, um m&iacute;nimo de 4 e um
                                m&aacute;ximo
                                de 14 caracteres.</em>
                        </div>
                        <div class="nk-gap"></div>
                        <div class="nk-form-response-success"></div>
                        <div class="nk-form-response-error"></div>
                        <button class="nk-btn nk-btn-lg link-effect-4 float-right">Cadastrar</button>
                    </form>
                    <!-- END: Account Form -->

                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}