{% set header_title = 'Recuperar senha' %}
{% set header_size = 'sm' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
    <div class="nk-gap-4"></div>

    <div class="container">

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2>Defina sua nova senha</h2>

								<form class="recover-pass-form" action="#">
										<input id="recover_email" class="form-control" type="email" placeholder="Confirme seu Email">
										<div class="nk-gap-2"></div>

										<input id="recover_password" name="recover_password" class="form-control required" type="password" placeholder="Nova Senha">
										<div class="nk-gap-2"></div>

										<input id="recover_confirm" name="recover_confirm" class="form-control required" type="password" placeholder="Confirmar senha">
										<div class="nk-gap-2"></div>

										<div class="nk-form-response-success"></div>
										<div class="nk-form-response-error"></div>

										<button class="nk-btn nk-btn-color-white link-effect-4 float-right">Alterar senha</button>
								</form>
            </div>
        </div>

    </div>

    <div class="nk-gap-4"></div>
{% endblock %}
