{% extends 'layouts/layout-1.html' %}

{% block content %}
<div class="nk-gap-4"></div>

<div class="container">

    <h2 class="display-2">Informa&ccedil;&otilde;es do Servidor</h2>
    <p class="text-main-1"><span class="nk-dropcap-3">T</span> Todas as informa&ccedil;&otilde;es que voc&ecirc;
        precisa saber sobre o servidor est&atilde;o localizadas aqui.
        Queremos deixar uma mensagem importante que todos dever&atilde;o sempre se lembrar: <strong>As
            informa&ccedil;&otilde;es contidas abaixo s&atilde;o passivas de altera&ccedil;&atilde;o, exceto as que
            podem causar impacto no equil&iacute;brio da econ&ocirc;mia e/ou na jogabilidade do servidor.</strong> Os
        jogadores podem enviar suas sugest&otilde;es no nosso <a href="//lineagebrasil.club/forum/index.php" target="_blank"
            class="text-main-4">F&oacute;rum</a>
        para que a comunidade decida se devemos ou n&atilde;o aplicar a altera&ccedil;&atilde;o.</p>

    <h4>Importante</h4>
    <p class="text-main-5"><span class="nk-dropcap-2">!</span>As informa&ccedil;&otilde;es aqui discrimidas foram
        definidas democraticamente pela comunidade do Lineage Brasil
        Club antes de sua abertura, atrav&eacute;s de uma pesquisa em que mais de 1000 players participaram do
        resultado. O servidor possui uma pol&iacute;tica bem flexivel nas altera&ccedil;&otilde;es de suas
        configura&ccedil;&otilde;es, onde a pr&oacute;pria comunidade pode decidir, sob vota&ccedil;&atilde;o, a
        altera&ccedil;&atilde;o das configura&ccedil;&otilde;es aqui descritas.</p>

    <h4>Cr&ocirc;nica e Estilo de Jogo</h4>
    <p>O Lineage Brasil Club &eacutel um servidor Mid Rate que utiliza a cr&ocirc;nica Interlude.</p>

    <p>Diferente dos diversos outros servidor que existem, o Lineage Brasil Club resgata a verdadeira ess&ecirc;ncia do
        jogo, trazendo uma gameplay muito din&acirc;mica em que os objetivos n&atilde;o s&atilde;o alcan&ccedil;ados
        com tanta velocidade. Todas as classes foram preservadas e possuem importantes fun&ccedil;&otilde;es dentro do
        jogo, inclusive as classes de buffs como Blade Dancer, Song of Singer, entre outras.</p>

    <p>Al&eacute;m das caracter&iacute;sticas dentro do jogo o servidor f&iacute;sico do Lineage Brasil Club, conta com
        uma robusta configura&ccedil;&atilde;o dotada de seguran&ccedil;a e muita performance, capaz de entregar aos
        players da comunidade uma experi&ecirc;ncia &uacute;nica e inigual&aacute;vel de jogabilidade.</p>

    <div class="nk-gap"></div>
    <h2 class="h1">Rates</h2>
    <div class="row vertical-gap">
        <div class="col-md-3 col-sm-6">
            <div class="nk-counter-2">
                <div class="nk-count">25</div>
                <h3 class="nk-counter-title h4">Experience</h3>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="nk-counter-2">
                <div class="nk-count">15</div>
                <h3 class="nk-counter-title h4">Adena</h3>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="nk-counter-2">
                <div class="nk-count">5x</div>
                <h3 class="nk-counter-title h4">Drop</h3>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="nk-counter-2">
                <div class="nk-count">5</div>
                <h3 class="nk-counter-title h4">Spoil</h3>
            </div>
        </div>
    </div>
    <div class="nk-gap"></div>

    <h2 class="h1">Obten&ccedil;&atilde;o de Itens</h2>
    <ul>
        <li>Itens Grade <strong>D</strong>, <strong>C</strong>, <strong>B</strong> s&atilde;o obtidos por
            <strong><span class="text-main-1">Adena</span></strong> no NPC <strong>Test Server Manager</strong>.</li>
        <li>Os itens de n&iacute;vel superior s&atilde;o obtidos atrav&eacute;s do <strong>Farming de <span class="text-main-1">Medal's</span>
                e <span class="text-main-1">Ancient Adena</span></strong> ou <strong class="text-main-2">Craft (Retail)</strong>.</li>
        <li class="list-unstyled">Para uma melhor econ&ocirc;mia alguns itens estar&atilde;o dispon&iacute;veis aos
            <strong class="text-main-2">Drawrf's</strong>
            no NPC <strong>Test Server Manager</strong>. Ser&aacute; necess&aacute;rio <strong><span class="text-main-1">Medal's</span></strong>
            para a obten&ccedil;&atilde;o desses itens.
            <ul>
                <li>Armor Recipes <strong>A</strong>, <strong>S</strong> <em>(60%)</em>,
                    Weapon Recipes <strong>A</strong>, <strong>S</strong> <em>(60%)</em>,
                    SS Recipes <strong>A</strong>, <strong>S</strong> <em>(100%)</em></li>
                <li>Mithril Alloy, Crafted Leather</li>
                <li class="text-dark-4">Em breve mais itens ser&atilde;o adicionados a lista.</li>
            </ul>
        </li>
    </ul>

    <h2 class="h1">Quest's</h2>
    <li>Promo&ccedil;&atilde;o de 3ª Classe obt&iacute;da atrav&eacute;s Quest <strong class="text-main-1">Retail</strong>.</li>
    <li>Permiss&atilde; para cria&ccedil;&atilde;o de Sub-Classe obt&iacute;da atrav&eacute;s Quest <strong class="text-main-1">Retail</strong>.</li>
    <li class="list-unstyled">Elevar o n&iacute;l de Clan para <strong>4</strong> ou <strong>5</strong> pode ser feito
        atrav&eacute;s das Quest's:
        <ul>
            <li>N&iacute;vel 4: <a href="https://l2vault.ign.com/View.php?view=Guides.Detail&id=78" target="_blank">Proof
                    of Clan Alliance</a>.</li>
            <li>N&iacute;vel 5: <a href="https://l2vault.ign.com/View.php?view=Guides.Detail&id=81" target="_blank">Pursuit
                    of Clan Ambition</a>.</li>
        </ul>
    </li>

    <h2 class="h1">NPC's</h2>
    <li class="list-unstyled">N&oacute;s temos um NPC peculiar chamado <strong>Test Server Manager</strong>. Nele
        voc&ecirc; poder&aacute; encontrar os seguintes recursos:
        <ul>
            <li><strong>Class Manager</strong> onde voc&ecirc; poder&aacute; fazer a
                promo&ccedil;&atilde;o das suas Classes iniciais por <strong class="text-main-1">Adena</strong></li>
            <li><strong>LBC Shop</strong> para voc&ecirc; comprar seus equipamentos e consum&iacute;eis.</li>
            <li class="list-unstyled"><strong>Personal Buffer</strong> para te proporcionar o suporte inicial da sua
                jornada.
                <ul>
                    <li><em class="text-warning">Os buffs realizados pelo NPC tem dura&ccedil;&atilde;o de 30 minutos.</em></li>
                    <li><em class="text-warning">Os buffs realizados pelo NPC sempre ser&atilde;o de n&iacute;vel
                            inferior ao de um jogador.</em></li>
                </ul>
            </li>
        </ul>
    </li>
</div>

<div class="nk-gap-4"></div>
<div class="nk-gap-4"></div>
{% endblock %}